.filters-sidebar {
  width: 240px;
  background: #fbd6a1;
  border-right: 1px solid #e5e5e5;
  padding: 20px;
  margin:2px;
  margin-top:20px;
  border-radius: 8px;
  box-sizing: border-box;
}

.filters-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.filter-group {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.filter-label {
  font-size: 13px;
  font-weight: 600;
}

.filter-select {
  width: 100%;
  padding: 6px;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #ccc;
  background: white;
}
