.header {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;
  padding: 16px 30px;
  box-sizing: border-box;
}

/* Top Layout */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-toggle-btn {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

.brand-logo {
  width: 45px;
  height: 45px;
}

.brand-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-left: 18px;
}

.action-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon-btn {
  font-size: 22px;
  cursor: pointer;
}

/* Language Dropdown */
.language-select {
  padding: 4px 6px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background: transparent;
}

/* Nav */
.main-nav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  margin-top: 12px;
  margin-left:0px;
}

.main-nav li {
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1px;
}

/* Responsive */
@media (max-width: 768px) {
  .menu-toggle-btn {
    display: block;
  }

  .language-select {
    display: none;
  }

  .main-nav {
    display: none;
    width: 100%;
  }

  .main-nav.show {
    display: block;
  }

  .main-nav ul {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
  }
}
