.website-description {
  max-width: 720px;
  margin: 100px auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 16px;
}

.website-heading {
  font-family: "Simplon Norm", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
}

.website-text {
  font-family: "Simplon Norm", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}
